.intro{
    height:17.875rem;
    background-image: url('src/assets/fundo.png');
    background-size: cover;
    color:var(--Cinza-Branco);
    text-align: left;
    padding:2rem;
}

.intro > h1{
    margin-bottom: 1.25rem;
}

.moviesShowTitle{
    padding-left: 3.125rem;
    color:var(--Cinza-Branco);
}

.moviesContainer{
    color:var(--Cinza-Branco);
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:center;
    width:100%;
    gap:2rem;
    padding:4rem 2rem;
    
    
}

.seeMore{
    color:white;
    text-align: end;
    margin-right:2rem;
    margin-bottom: 2rem;
   
}

