.banner{

    padding:4rem;
    background-color: var(--Principal-800);
}

.banner:first-child button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.searchWrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.searchBar{
    border:none;
    height:2.5rem;
    padding:1rem;
    width:65.875rem;    
    /* width:70%; */
    border-radius:2rem;
}

.searchWrapper button{
    margin-left:-3rem;
}

.filtersWrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
}

.filtersWrapper>select::before{
    height:45px;
    width:11px;
    background-color: var(--Principal-source);
}
.filtersWrapper select{
    border:none;
    box-shadow:0rem 0.15rem 0.25rem var(--Fundo);
    color:white;
    padding:.5rem 3rem .5rem 0.5rem;
    border-radius: .5rem;
    background-color: var(--Complementar-800);
}


.moviesContainer h1{
    color:var(--Texto-50);
    margin-left: 12rem;
}

.moviesContainer>div{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

@media(max-width:450px){
    .banner{
        padding:2rem;
    }
    .searchBar{
        width:30rem;
    }
    .filtersWrapper{
        
        flex-direction: column;
    }
   
}