.sessionBanner{
    color:white;
    width:100%;
    
    padding:3rem;
    background: linear-gradient(180deg, #00264D 86.62%, rgba(0, 38, 77, 0) 100%);
    
}
.sessionBanner img{
    width:14.375rem;
    height:21.25rem;
}

.sessionBanner >div{
    display:flex;
    justify-content: start;
    gap:2rem;
}

.sessionBanner .rating {
    width:4rem;
    height:4rem;
      
}
.sessionBanner>div>div{
    display: flex;
    flex-direction: column;
    gap:4rem;
}

.movieDescription{
    display:flex;
    flex-direction: column;
    width:30rem;
}

.movieDescription > div{
    display:flex;
    justify-content: start;
    align-items:start;
    gap:2rem;
    
}

.movieDescription h2{
    font-size:2.5rem;
    margin-bottom: 1.5rem;
}
.movieDescription p{
    margin-bottom: .5rem;
}

.filtersWrapper{
    display:flex;
    flex-direction: row;
    align-items: start;
    gap:2rem;
    margin-top:-2rem;
}


.filtersWrapper select{
    width:16rem;
    border:none;
    box-shadow:0rem 0.15rem 0.25rem var(--Fundo);
    color:white;
    padding:.5rem 3rem .5rem 0.5rem;
    border-radius: .5rem;
    background-color: var(--Complementar-800);
}

