.footer{    
    
    background-color: var(--Sombra-source);
}
.content{
    padding:1rem 1.5rem;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:8rem;
}

.content h2{
    color:#FFFFFF;
}

.content p{
    color:var(--Principal-100)
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:22%;
}
.copyright{
    text-align: center;
    color:var(--Cinza-100);
    padding:0.5rem;
    background-color: var(--Sombra-2-900);
}

@media(max-width:1200px){
    .ticketIN{
        display:none;
    }
}

@media(max-width:650px){
    .content{
        gap:0;
    }
    .info{
        width:100%;
    }
}

@media(max-width:450px){
    .map{
        display: none;
    }
}