.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    
    background-color: var(--Principal-source);
    padding:1rem;
    
}

.options{
    margin-top:1.25rem;
    display:flex;
    align-items: flex-end;
    gap:1rem;
}

@media(max-width:450px){
    .header{
        display: flex;
        flex-direction: column;
    }
}