
.homeMovieCard{
    height:27.25rem;
    width:14.375rem;
}

.homeMovieCard img{
    width:100%;
    height:80%;
    border-radius:4%;
}

.homeMovieCard h2{
    text-align: start;
    margin-bottom:0.5rem;
    height:3.75rem;
}

.availableSessions{
    background-color:var(--Call-to-Action-source);
    color:var(--Texto-50);
    border:none;
    padding:.5rem .2rem;
    border-radius:0.5rem;
}

.availableSessions p {
    font-size:1.2rem;
}