.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:30rem;
    padding:1rem;
    color:var(--Texto-50);
    border-radius: 0.5rem;
    background-image:linear-gradient(-180deg,#00264D, #001225);
    margin:0.5rem;
    
}

.movieCard>div{
    margin-bottom:1rem;
}
.movieCard>div p{
    margin-bottom:0.5rem;
}
.movieCard>div>div{
    margin-bottom:2.5rem;
}

.movieCard > div > img{
    margin-bottom:1rem;
    width:100%;
    height:39rem;
}

.movieCardHeader{
    display:flex;
    justify-content: space-between;
}

.rating{
    width:1.875rem;
    height:1.875rem;
}

.movieCardButton{
    width:12.8rem;
    border:none;
    border-radius: 0.5rem;
    color:var(--Texto-50);
    padding:0.5rem;
    background-color:var(--Call-to-Action-source);
    cursor: pointer;
}

.movieCardButton:hover{
    background-color:var(--Call-to-Action-500);
}

@media(max-width:550px){
    .movieCard{
        /* width:100%; */
        width:15rem;
    }
    .movieCardButton{
        font-size:1rem;
        width:8rem;
    }

}

/* @media(max-width:450px){
    .movieCard{
        
    }
    .movieCardButton{
        
        width:8rem;
    }

} */