.container{
    
    margin-left:4rem;
    margin-bottom:2rem;
    width:60%;
    padding:2rem;
    border-radius: 1rem;
    background-color: var(--Fundo);
}
.sessionName{
    height:2.25rem;
    width:5rem;
    background-color: var(--Call-to-Action-400);
    border-radius:0.25rem;
    text-align: center;
}
.hourContainer{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}
.hour{
    border:solid var(--Principal-source);
    margin-top:2rem;
    padding:1rem;
    border-radius: 0.5rem;
    color:var(--Principal-source)
}